<p>
  <b>Title:</b>
  <%= @book.title %>
</p>
<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>
<section>
  <dt>Users who read this book</dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @book.user_read_books.each { |user_read_books| %>
        <td><%= user_read_books.user.email %></td>
        <td><%= show_rating_values(user_read_books, !current_user.admin?) %>
          <% } %>
          <tr>
          </tr>
        </tbody>
      </table>
    </section>
    <div class="btn-group">
      <%= link_to 'Back', books_path, class: "btn btn-mini" %>
    </div>
