<!DOCTYPE html>
<html>
  <head>
    <title>UserBooks</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-narrow">
      <div class="masthead">
        <%= render 'layouts/user_header' %>
        <h3 class="muted"><%= link_to "User Books!", root_path %></h3>
      </div>
      <hr />
      <div id="main" role="main">
        <div class="container">
          <div class="content">
            <div class="row">
              <div class="span12">
                <%= bootstrap_flash %>
                <%= yield %>
              </div>
            </div>
            <footer>
            </footer>
          </div>
        </div>
        <!--! end of .container -->
      </div>
      <!--! end of #main -->
    </div>
  </body>
</html>
